* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.tabs {
  margin: 0 0 5px 0;
  font-family: "Roboto";
  font-size: 0.9em; }

ul.primary {
  margin: 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  overflow: hidden;
  display: inline-block; }
  ul.primary li {
    float: left;
    margin: 0;
    padding: 0; }
    ul.primary li.active a, ul.primary li.active a:hover {
      border-width: 0;
      color: white;
      background: #2aa9df; }
    ul.primary li a {
      display: block;
      margin: 0;
      padding: 10px 20px;
      border-width: 0;
      text-decoration: none;
      color: black;
      background-color: #eeeeee; }
      ul.primary li a:hover {
        border-width: 0;
        background-color: #e1e1e1; }
      ul.primary li a .tab {
        display: block;
        margin: 0;
        border-width: 0;
        line-height: 20px; }

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap; }
  ul.secondary li {
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 0;
    border-right: none; }
  ul.secondary a {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid silver;
    text-decoration: none;
    color: #777777; }
    ul.secondary a .active, ul.secondary a .active:hover {
      border: 1px solid silver;
      color: black; }
    ul.secondary a .tab {
      display: block;
      height: 18px;
      margin: 0;
      padding: 3px 8px;
      line-height: 18px; }
